* {
    border: solid 1px red;
}

img {
    max-width: 300px;
}

body {
    background-color: rgb(255, 0, 55, 0.2);
}

p {
    display: block;
    color: rgb(0, 0, 0);
}

div {
    display:flex;
    min-width: 300px;
    max-width: 300px;;
}